@import "./reset.css";

:root {
  --maincolor: #027731;
  --hovercolor: #006428;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
}

.block-title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 16px;
  text-align: left;
  line-height: 31px;
  color: var(--maincolor);
}

.auth-form-wrapper {
  text-align: center;
  padding-bottom: 20px;
}

.auth-form__title {
  padding: 26px 0 22px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

.auth-form {
  margin-top: 77px;
}

.auth-form .form-input {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  transition: 0.2s ease;
}

.auth-form .form-input.error {
  margin-bottom: 45px;
}

.auth-form .form-input.error input {
  border-color: #f79483;
}

.auth-form .form-input.error label {
  color: #f79483;
}

.auth-form .main-error {
  color: #f79483;

}

.auth-form .form-input .error {
  display: none;
}

.auth-form .form-input.error .error {
  text-align: left;
  margin-top: 10px;
  color: #f79483;
  font-size: 12px;
  display: block;
}

.auth-form .form-input input {
  position: relative;
  height: 40px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  outline: none;
  box-shadow: none;
  background: transparent;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}

.auth-form .form-input input:focus~label,
.auth-form .form-input input:valid~label {
  top: -18px;
  font-size: 11px;
  opacity: 0.6;
}

.auth-form .form-input label {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  transition: all 0.2s ease;
  pointer-events: none;
}

.auth-form .form-btn {
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding: 5px 12px 6px;
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 0;
  -webkit-transition: background-color 0.2s ease !important;
  transition: background-color 0.2s ease !important;
}

.auth-form .form-btn:hover {
  background: var(--hovercolor);
  color: #ffffff;
}

.auth-form .form-link {
  display: block;
  margin-top: 8px;
  font-size: 15px;
  cursor: pointer;
}

.auth-form .form-link:hover {
  text-decoration: underline;
}

@media (max-width: 1018px) and (min-width: 768px) {
  .block-title {
    font-size: 17px;
    margin-bottom: 5px;
  }
}

@media (max-width: 1140px) and (min-width: 1019px) {
  .block-title {
    font-size: 19px;
  }
}

@media (min-width: 1141px) {
  .block-title {
    font-size: 19px;
  }
}
