@import "./reset.css";


.block-title {
  font-family: "Source Sans Pro", sans-serif;

  font-size: 24px;
  font-weight: 900;
  margin-bottom: 16px;
  text-align: left;
  line-height: 31px;
  color: #4c4084;
}

@media (max-width: 1018px) and (min-width: 768px) {

  .block-title {
    font-size: 17px;
  }
}


@media (max-width: 1140px) and (min-width: 1019px) {

  .block-title {
    font-size: 19px;
  }
}


@media (min-width: 1141px) {

  .block-title {
    font-size: 19px;
  }
}
